{% extends "layout.html" %}
{% block head %}
    {% block title %}Research and Development{% endblock %}
    <br><br>
[<a href = "{{ url_for('index') }}">Home</a> | <a href="{{ url_for('Software_Demo') }}">Software Demo</a> | <a href="{{ url_for('R_D') }}">Research and Development</a>]
{% endblock %}

{% block content %}

<br><br>
Row with two columns [Simulation Software | Error Detection Software]
<br><br>
Data research summary
<br>
[downloadable (or maybe visualizable??) pdf of our report]
<br><br>
Sources

           
{% endblock %}
           