{% extends "layout.html" %}

{% block title %}<h1> Research and Development</h1>{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
        <p class="text-center">Simulation Software</p>
    </div>
    <div class="col">
        <p class="text-center">Error Detection Software</p>
    </div>
  </div>
</div>

<br><br>
Row with two columns [Simulation Software | Error Detection Software]
<br><br>
Data research summary
<br>
[downloadable (or maybe visualizable??) pdf of our report]
<br><br>
Sources

           
{% endblock %}
           