{% extends "layout.html" %}
{% block head %}
{% block title %}<h1 class="text-center">Software Demo</h1>{% endblock %}
<p class="text-center">
[<a href = "{{ url_for('index') }}">Home</a> | <a href="{{ url_for('Software_Demo') }}">Software Demo</a> | <a href="{{ url_for('R_D') }}">Research and Development</a>]
</p>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
        <p class="text-center">Map</p>
        <div id="map"></div>
        <br><br><br><br><br><br><br><br><br><br>
    </div>
    <script src = "{{ url_for('static', filename = 'js/map.js') }}"></script>
    <div class="col">
        <p class="text-center">Analytics</p>
    </div>
  </div>
</div>

<br><br>
make two columns, left for the leaflet map, right for the analytics and visualization

           
{% endblock %}
           