{% extends "layout.html" %}
{% block title %}<h1>Software Demo</h1>{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
        <p class="text-center">Map</p>
        <div id="map"></div>
        <br><br><br><br><br><br><br><br><br><br>
    <script src = "{{ url_for('static', filename = 'js/map.js') }}"></script>
    </div>
    <div class="col">
        <p class="text-center">Analytics</p>
    </div>
  </div>
</div>

<br><br><br>
make two columns, left for the leaflet map, right for the analytics and visualization

           
{% endblock %}
           

