{% extends "layout.html" %}

{% block content %}
<div class="container">
    
    
<h1>About</h1>

<!-- Start Introduction -->
    <hr/>

      <div class="row">
    <div class ="col"></div>
    <div class ="col-8">
        <h4 class="text-center">Precision Agriculture and Broadacre Farming</h4>
    </div>
        <div class = "col"></div>
  </div>
    
<div class="row">
    <div class ="col"></div>
    <div class ="col-8">
        <h6 class="text-center">Broad acre farming is the practice of cultivating high quantity, low value crops over large open fields. The crops used in broad acre farming are low profit, which causes a tight profit margin and means that farmers must make the most out of their land. Typical operations for Broad acre require farmers to make consecutive passes across their field. Previous tracks must be followed closely to limit resource waste and increase time efficiency. Historically, this was done using a trained eye as skilled farmers would do their best to stay parallel to their previous passes. However, in operations such as seeding or spraying, it may be very difficult to see previous passes, resulting in over or under coverage of the field.

Precision agriculture uses modern GNSS technology to help farmers know where they are on their fields and retain higher profits. However, raw GNSS observations are subject to errors that can cause across track drifts and positional jumps, reducing it's effectiveness. Therefore, it is necessary to assess the observations for relative pass-to-pass accuracy, detect position jumps and perform corrections as needed. <br>
            Overall, broadacre farming needs a positioning solution that is <strong>cost effective</strong> and provides <strong> good relative pass-to-pass accuracy</strong>.

        </h6>
    </div>
    <div class ="col"></div>
</div>
    
<br>
<div class="row">
    <div class ="col"></div>
    <div class ="col-8">
        <h6 class="text-center">
            </h6>
    </div>
    <div class="col"></div>
 </div>
    
<!-- End Introduction -->   
    <hr/>
    
<!-- Start Solution -->   
    
  <div class="row">
    <div class ="col"></div>
    <div class ="col-8">
        <h4 class="text-center">Our Solution</h4>
    </div>
        <div class = "col"></div>
  </div>
    
    
  <div class="row">
    <div class ="col"></div>
    <div class ="col-8">
        <h6 class="text-center">The simple fact is there are fewer people farming now than ever before, but the global demand for food continues to rise.  
The first is error quantification and detection software that calculates and flags drift errors, pass to pass variation and position jumps in precision agriculture data sets.
The second software suite simulates tractor passes over a user selected area and feeds the positional data back to the error detection software for analysis, Keeping these two suites separate allows them to be used to test the functionality and adaptability of each other. Any assumptions coded in the simulation suite are directly derived from observations made of our two data sets described <a href="{{ url_for('R_D') }}">here</a>.</h6>
        <br>
  </div>
        <div class = "col"></div>
    </div>
    
  <div class="row">
    <div class ="col"></div>
    <div class ="col-8">
        <h6 class="text-center">The data collection was done at the parking lot intersecting west of CCIT. Points were collected using an R10 RTK setup within the parking lot segment. This was done to both calibrate the RTK for our purposes and to provide simulation data for a vehicle’s path. 
A second set of static GNSS data was provided by our advisor Greg Roesler from one of the static receiver arrays run by NovAtel.</h6>
        <br>
    </div>
    <div class = "col"></div>
  </div>
 
<!-- End Solution -->
     <hr/>
              
<!-- Start Team -->
    
  <div class="row">
    <div class ="col"></div>
    <div class ="col-8">
        <h4 class="text-center">Meet the Team</h4>
        <br>
    </div>
    <div class = "col"></div>
  </div>
    
  <div class="row">
    <div class="col">
        <a href = "https://www.linkedin.com/in/jan-erik-naess-32b920198/" target="_blank">
          <img src="{{ url_for('static', filename = 'Images/JE.png') }}" style="width:60%; border-radius: 50%">
           <p class = "text-center">Jan Erik Naess</p>
        </a>
        <div class="row">
            <p class = "text-center">Project Manager<br>Software Lead<br>Research</p>
        </div>
    </div>

    <div class="col">
        <a href="mailto:mailto:jonah.prevost1@ucalgary.ca">
          <img src="{{ url_for('static', filename = 'Images/Jonah.png') }}" style="width:60%; border-radius: 50%">
           <p class = "text-center">Jonah Prevost</p>
        </a>
        <div class="row">
            <p class = "text-center">Data Analysis<br>Fieldwork<br>Research</p>
        </div>
    </div>

    <div class="col">
        <a href = "https://www.linkedin.com/in/connor-johnson-3380451b2" target="_blank">
          <img src="{{ url_for('static', filename = 'Images/Connor.png') }}" style="width:60%; border-radius: 50%">
           <p class = "text-center">Connor Jonhson</p>
        </a>
        <div class="row">
            <p class = "text-center">Data Analysis<br>Fieldwork<br>Research</p>
        </div>
    </div>

    <div class="col">
        <a href = "https://www.linkedin.com/in/evan-prosser/" target="_blank">
          <img src="{{ url_for('static', filename = 'Images/Evan.png') }}" style="width:60%; border-radius: 50%">
           <p class = "text-center">Evan Prosser</p>
        </a>
        <div class="row">
            <p class = "text-center">Website Development<br>Fieldwork</p>
        </div>
    </div>
  </div>

<!-- End Team -->
    
     <hr/>
    
<!-- Start Acknowledments -->

  <div class="row">
    <div class ="col"></div>
    <div class ="col-8">
        <h4 class="text-center">Acknowledgements</h4>
    </div>
    <div class = "col"></div>
  </div>
    
  <div class="row">
    <div class ="col"></div>
    <div class ="col-8">
        <h6 class="text-center">This project wouldn’t have been possible without the support and guidance of our mentor and advisor Greg Roesler of Hexagon. From directing our initial problem definition and research to providing detailed static data logs and helping guide us through the nuances of project management and planning, each step of the process wouldn’t have been possible without his assistance and leadership.</h6>
        <br>
    </div>
    <div class = "col"></div>
  </div>
    
<!-- End Acknowledments -->

</div>
{% endblock %}
