{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class = "row">
    <h1>Research and Development</h1>
    </div>
    
    <hr/>
    
    <div class="row">
    <div class ="col"></div>
    <div class ="col-8">
        <h6 class="text-center">The software package found here consists of a track simulation and error detector. The simulator creates broadacre passes over a selected area, with positioning errors included. The error detector will then assess the simulated paths for position biases or jumps, and document accordingly.<br><br>

Creating error detection software is vital to increase the effectiveness of lower absolute precision hardware and software for broadacre agriculture. Knowing when across track jumps, drift or pass variation occurs is required to be able to correctly identify improvements and negate potential overlap or underlap. <br><br>

Simulating errors to evaluate the error detection softwares is important to test our solution quality. The combination of error detection and track simulation is a practical and feasible way for detection of  positioning errors and quantifying relative accuracy parameters. <br><br>
The reports below explain the fundamental methodologies behind the software package.
            </h6>
        </div>
        <div class="col"></div>
    </div>
    
    <hr/>
    <div class = "row">
        <div class="col">
            <br>
            <h5>The Crop Operations report below outlines the cost estimate projections used in the simulaiton.</h5>
        <object data="{{ url_for('static', filename = 'PDF/Crop Operations Report.pdf') }}" type="application/pdf" style="min-height:100vh;width:100%"></object>
        </div>
        
        <div class = "col">
            <br>
            <h5>The Position Error report below provides insight on drift and position jump erros within static GNSS datasets.</h5>
            <object data="{{ url_for('static', filename = 'PDF/Position Error Report.pdf') }}" type="application/pdf" style="min-height:100vh;width:100%"></object>
    </div>
    </div>




<br><br>

</div>
{% endblock %}
           