{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class = "row border">
    <h1>Research and Development</h1>
    </div>

  <div class="row">
    <div class="col border">
        <h5 class="text-center">Simulation Software</h5>
        <p>Content goes in here</p>
        <br><br><br><br><br>
    </div>
    <div class="col border">
        <h5 class="text-center">Error Detection Software</h5>
        <p>Content goes in here</p>
        <br><br><br><br><br>
    </div>
  </div>
    <div class = "row">
        <div class = "col border">
            <br>
            <h5>View the Report Here:</h5>
            <embed src="{{ url_for('static', filename = 'PDF/Report.pdf') }}" width="800px" height="2100px" />
        </div>
    </div>



<br><br>
Row with two columns [Simulation Software | Error Detection Software]
<br><br>
Data research summary
<br>
[downloadable (or maybe visualizable??) pdf of our report]
<br>


<br><br>
Sources
</div>
{% endblock %}
           