{% extends "layout.html" %}
{% block content %}

    <div class="row text-center">
        <div class="col">
        <h5>Zero Pass</h5>
        <br>
        <figure class="figure">
            <img id="picture" src="data:image/png;base64, {{ area_plts[1] }}">
             <figcaption class="figure-caption">Zero Pass coverage</figcaption>
        </figure>
        </div>
 

        <div class="col">
        <h5>Single Pass</h5>
        <br>
        <figure class="figure">
            <img id="picture" src="data:image/png;base64, {{ area_plts[2] }}">
             <figcaption class="figure-caption">Single Pass coverage</figcaption>
        </figure>
        </div>

        <div class="col">
        <h5>Double Pass</h5>
        <br>
        <figure class="figure">
            <img id="picture" src="data:image/png;base64, {{ area_plts[3] }}">
             <figcaption class="figure-caption">Double Pass coverage</figcaption>
        </figure>
        </div>
 </div>

{% endblock %}