{% extends "layout.html" %}
{% block content %}
<div class="container">
    
    <div class = "row">
    <h1>Software Demo</h1>
    </div>
    
    <hr/>
    
      <div class="row">
    <div class ="col"></div>
    <div class ="col-8">
        <h6 class="text-center">Provided here is a demo of the software. Select an area using the tools on the left side of the map. The selected area will be sent for processing and produce a analytics report found <a href="#button">here</a>.</h6>
    </div>
    <div class = "col"></div>
  </div>
    
    
    <hr/>
    <h4> Enter Coordinates:</h4>
    <form action="{{ url_for('report') }}" method="post">
        <div class = "form-group">
            <div class = "col"></div>
            <div class="col-4 center">
                <input type="text" class="form-control" name="corner-1">
                <br>
                <input type="text" class="form-control" name="corner-2">
                <br>
                <input type="text" class="form-control" name="corner-3">
                <br>
                <input type="text" class="form-control" name="corner-4">
            </div>
            <div class = "col"></div>
        </div>
        <button type="submit" class="btn btn-danger">Submit</button>
    </form>
    <br>
    <br>
    
</div>
 
           
{% endblock %}
           

