{% extends "layout.html" %}
{% block content %}
<div class="container">
    <br>
    <div class = "row">

    <h2>Software Demo</h2>
    </div>
    
    <hr/>
    
      <div class="row">
    <div class ="col"></div>
    <div class ="col-8">
        <h6 class="text-center">Provided here is a demo of the software. Select field dimensions and track width to run the simulation. The selected area will be sent for processing and a analytics report will be displayed.</h6>
       <!-- <h6><strong>Note</strong>: The report may take up to 30 seconds to publish. You will be automatically redirected.</h6>-->
    </div>
    <div class = "col"></div>
  </div>
    
    
    <hr/>
<div class="row">
    <div class = "col-sm-4 offset-sm-4 text-center">
      <form action="{{ url_for('report') }}" method="post">
        <div class = "form-group">
            <h6>Field Area must be less than 160,000 meters squared <br> (ie. 400x400 or 40 acres)</h6><br>
                <input type="text" class="form-control" name="length" placeholder="Field Length (m): Reccomended less than 400m"><br>
                <input type="text" class="form-control" name="width" placeholder="Field Width (m): Reccomended be less than 400m"><br>
                <input type="text" class="form-control" name="swath" placeholder="Pass Width (m): Reccomended 5m">
        </div>
          <br>
          <button type="submit" class="btn btn-danger">Simulate</button>
          <br>
      </form>
    </div>
    
</div>
    <hr>
<div class = "row text-center">
        <div class = "col-md-6 p-3 mx-auto">
          <div class="table-responsive-md">
            <table class="table table-bordered table-striped bg">
             <thead>
                <tr class="white-bg">
                    <th>Additional Simulation Parameters</th>
                    <th>Value</th>
                </tr>
              </thead>
                <tbody>
                  <tr class="white-bg">
                    <td>Position Drifts</td>
                    <td>On</td>
                   </tr>
                    <tr class="white-bg">
                        <td>Position Jumps</td>
                       <td>On</td>
                   </tr>
                    <tr class="white-bg">
                    <td>Easting Drift Per Kilometer</td>
                    <td>0.04 (m)</td>
                   </tr>
                    <tr class="white-bg">
                    <td>Northing Drift Per Kilometer</td>
                    <td>0.04 (m)</td>
                   </tr>
                    <tr class="white-bg">
                    <td>Jump Occurance Probabality</td>
                    <td>0.02 %</td>
                   </tr>
                    <tr class="white-bg">
                    <td>Easting Jump Magnitude</td>
                    <td>0.18 (m)</td>
                   </tr>
                    <tr class="white-bg">
                    <td>Northing Jump Magnitude</td>
                    <td>0.12 (m)</td>
                   </tr>
                    <tr class="white-bg">
                    <td>Tractor Speed</td>
                    <td>8 (km/hr)</td>
                   </tr>
                    <tr class="white-bg">
                    <td>Epoch Frequency</td>
                    <td>1 (epoch/sec)</td>
                   </tr>
                </tbody>
              </table>
            </div>
       </div>
</div>
    
           
{% endblock %}
           

