{% extends "layout.html" %}
{% block content %}
<div class="container">
    
    <div class = "row">
    <h1>Software Demo</h1>
    </div>
    
    <hr/>
    
      <div class="row">
    <div class ="col"></div>
    <div class ="col-8">
        <h6 class="text-center">Provided here is a demo of the software. Select an area using the tools on the left side of the map. The selected area will be sent for processing and produce a analytics report found <a href="#button">here</a>.</h6>
    </div>
    <div class = "col"></div>
  </div>
    
    <hr/>

    
    <div class="row">
        <div class="col">
  
            <div id="map"></div>
            <script src = "{{ url_for('static', filename = 'js/map.js') }}"></script>
            <script> 
                const geo = JSON.parse('{{ geoJSON | tojson }}'); 
                L.geoJSON( geo ).addTo(map) 
            </script>

            <script src = "{{ url_for('static', filename = 'js/map.js') }}"></script>
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>

    <hr/>
        <div class="row">
      <div class = "col"></div>
      <div class="col-2">
          <a href="{{ url_for('simulator') }}" class="btn btn-danger btn-lg" name="button">Run Simulation</a>
      </div>
      <div class = "col"></div>
      <br><br><br>
    </div>
    <br>
    <div class="row">
      <div class = "col"></div>
      <div class="col-2">
          <a href="{{ url_for('report') }}" class="btn btn-danger btn-lg" name="button">View Report</a>
      </div>
      <div class = "col"></div>
      <br><br><br>
    </div>
</div>
 
           
{% endblock %}
           

