{% extends "layout.html" %}
{% block content %}
<div class="container" >
    <div class = "row border">
    <h1>Software Demo</h1>
    </div>
    
    <div class="row" class = "mx-auto">
        <div class = "col border">
            <h5 class="text-center">Map</h5>
        </div>
        <div class="col border">
            <h5 class="text-center">Analytics</h5>
        </div>
  </div>
    
  <div class="row" >
    <div class="col border">
        <div id="map"></div>
    <script src = "{{ url_for('static', filename = 'js/map.js') }}"></script>
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <div class="col border">
    </div>
  </div>


<br><br><br>
make two columns, left for the leaflet map, right for the analytics and visualization

</div>           
{% endblock %}
           

